<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>ServiceMessages</title>

</head>

<body style="background-color: black;">
<form method="get" action="/messages" style="position: absolute; top: 50%; left: 40%;">
    <input name="user" type="text" style=" width: 200px; height: 48px; border-radius:10px; font-size: inherit; line-height: inherit;" id="user" placeholder="Введите имя"/>
    <input type="submit" value="Войти" style=" width: 70px; height: 70px; border-radius:50%; background-color: yellow;">

</form>

</body>
</html>